<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O mnie</title>
</head>
<body>
    <h2>To jest strona o mnie</h2>
    <div>Nazywam się ...</div>
</body>
</html>